<div class="well">
<h1 class="text-center">Welcome to the Robot World!</h1>

<ul class="list-inline text-center">
  <li class="btn btn-default"><a href="/robots">Robodex</a></li>
  <li class="btn btn-default"><a href="/robots/new">New Robot</a></li>
</ul>
</div
