<form action="/robots/<%=@robot.name %>" method="post">
  <p>Lobotomize this robot:</p>
  <input type="hidden" name="_method" value="PUT">
  <input type='text' name='robot[name]' placeholder="name"/><br/>
  <input type='text' name='robot[city]' placeholder="city"/><br/>
  <input type='text' name='robot[state]' placeholder="state"/><br/>
  <input type='text' name='robot[birthdate]' placeholder="birthdate"/><br/>
  <input type='text' name='robot[date_hired]' placeholder="date hired"/><br/>
  <input type='text' name='robot[department]' placeholder="department"/><br/>
  <input type='submit'/>
</form>
