<form action="/robots" method="post">
  <h2>Papers, please!</h2>
  <p>Enter your new robot's information:</p>
  <input type='text' name='robot[name]' placeholder="name"/><br/>
  <input type='text' name='robot[city]' placeholder="city"/><br/>
  <input type='text' name='robot[state]' placeholder="state"/><br/>
  <input type='text' name='robot[birthdate]' placeholder="birthdate"/><br/>
  <input type='text' name='robot[date_hired]' placeholder="date hired"/><br/>
  <input type='text' name='robot[department]' placeholder="department"/><br/>
  <button type='submit'>Create New Robot</button>
